<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head', {title: 'Actores'}) %> 

  
<body>
    <%- include('partials/header') %>    
    <h1><%= actors.first_name %> </h1>
    <br>
    <p>NOMBRE: <%= actors.first_name %> </p>
    <p>APELLIDO: <%= actors.last_name %> </p>

</body>
</html>