<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head', {title: 'Géneros'}) %>
  <body>
    <%- include('partials/header') %>
    <main class="detail_main">
      <section class="detail_container">
        <h1 class="titulo_general"><%= genre.name %></h1>
        <div class="cartelito">
          <p>NAME: <%= genre.name %></p>
          <p>RANKIG: <%= genre.ranking %></p>
          <p> PELÍCULAS:</p>
          <ul>
            <!-- recorro las películas,  -->
            <% genre.movies.forEach(movie => { %>
             <li><a href="/movies/detail/<%= movie.id %>"><%= movie.title %></a></li>
            <% }) %>
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
