<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head', {title: 'Géneros'}) %>
  <body>
    <%- include('partials/header') %>
    <main class="detail_main">
      <section class="detail_container">
        <h1 class="titulo_general"><%= genre.name %></h1>
        <div class="cartelito">
          <p>NAME: <%= genre.name %></p>
          <p>RANKIG: <%= genre.ranking %></p>
        </div>
      </section>
    </main>
  </body>
</html>
