<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'Detalle de la Pélicula'}) %> 
<body>
    <%- include('partials/header') %> 
    <h1><%= movie.title %> </h1>    
    <br>
    <p>RATING: <%= movie.rating %> </p>
    <p>PREMIOS: <%= movie.awards %> </p>
    <p>DURACIÓN: <%= movie.length + ' min'%> </p>
    <p>FECHA DE REALIZACIÓN: <%= movie.release_date %> </p>
    

    <br>
    <section>
        <a href="/movies/edit/<%= movie.id %>"> Editar película</a>
        <a href="/movies/delete/<%= movie.id %>"> Eliminar película</a>
    </section>

</body>
</html>