<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head', {title: 'Por fecha'}) %>
  <body>
    <%- include('partials/header') %>
    <main class="new_main">
      <section class="new_container">
        <h1 class="titulo_general">PELIÍCULAS ORDENADAS X FECHA</h1>
        <div class="list_peliculas">
          <ul class="movie_box ">
            <% for( let i = 0; i < movies.length; i++ ) { %>
            <li>
              <a href="/movies/detail/<%=movies[i].id%>"
                ><%= movies[i].title %>
              </a>
              <br />
              <%= 'RELEASE DATE: ' + movies[i].release_date %>
            </li>
            <% } %>
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
